@import "variables.less";
@import "mixins.less";

body {
  font-family: 'Microsoft YaHei', Merriweather, 'Helvetica Neue', Arial, sans-serif;
  color: @theme-text-color;
  font-size: 16px;
  background-color: @footer-background;

}
//首页
.section {
  position: relative;
  text-align: center;
  overflow: hidden;
  font-weight: 100;
}
.section0 {

  background-image: url("../img/home/img_home_picture_1.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}
.section1 {

  background-image: url("../img/home/img_home_picture_2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}
.section2 {

  background-image: url("../img/home/img_home_picture_3.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}
.grey-surface {
  color: #CFD6DE;
  border: 2px solid #CFD6DE;
}

.white-surface {
  border: 2px solid white;
  color: white;
}
.light {
  color: @navigation-light !important;
}
.dark {
  color: @navigation-dark !important;
}
.light.navbar.navbar-default {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
  padding-left: 4em;
  padding-right: 4em;
  .transition-all;
}
.dark.navbar.navbar-default {
  background: @theme-background;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
  padding-left: 4em;
  padding-right: 4em;
  .transition-all;
}
.navbar.navbar-default.past-header {
  border-bottom: none;
  background-color: @theme-primary;
  .transition-all;
}
.navbar-default .navbar-nav>li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.light.navbar-default .navbar-nav>li>a {
  font-size: 1em;
  font-weight: 200;
  color: @navigation-light;
  .transition-all;
}
.dark.navbar-default .navbar-nav>li>a {
  font-size: 1em;
  font-weight: 200;
  color: @navigation-dark;
  .transition-all;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  font-weight: bold;
  .transition-all;
}
.navbar-default .navbar-nav>li>a.selected  {

  font-weight: bold;
  .transition-all;
  background-image: url(../img/home/img_nav_select.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 4px 4px;
}
.light.navbar.navbar-default a.navbar-brand {
  color: @navigation-light;
  padding-top: 2rem;
  padding-left: 2em;
  background-image: url(../img/home/img_tapon_logo_color.png);
  background-repeat: no-repeat;
  background-position: 0 1em;
  background-size: 26.4px 32.8px;
}
.light.navbar.navbar-default a.navbar-brand.white {
  background-image: url(../img/home/img_tapon_logo_white.png);
}
.dark.navbar.navbar-default a.navbar-brand {
  color: @navigation-dark;
  padding-top: 2rem;
  padding-left: 2em;
  background-image: url(../img/home/img_tapon_logo_color.png);
  background-repeat: no-repeat;
  background-position: 0 1em;
  background-size: 26.4px 32.8px;
}

#fp-nav ul li a span {
  background-color: rgba(121,211,213, 0.5);
}
#fp-nav ul li a.active span {
  background-color: @theme-primary;
}

.section0 img.title {
  width: 419px;
  height: 289px;
  margin-top: 25%;
}
.section1 img.title {
  width: 419px;
  height: 192px;
  margin-top: 6%;
  margin-right: 10%;

}
.section2 img.title {
  width: 704px;
  height: 192px;
  margin-top: 6%;
  margin-right: 5%;

}
.entry-panel {
  position: absolute;
  background: rgba(0,0,0,0.4);
  bottom: 0;
  padding: 2em 1em 2em 1em;
  width: 100%;
}
.entry-panel a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
}
.entry-panel .row .col-md-2:nth-child(n+3) {
  border-left: 2px solid white;
}
.footer-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: @footer-background;
  padding: 1em;

}
.footer-panel p {
  color: white;
}
//产品详情页
.product.container-fluid {
  padding-left:0;
  padding-right:0;
  background-color: @theme-background;
  padding-bottom: 4em;
  min-height: calc(100vh - 7em);
}
.product-cover {
  height: 40vh;
  min-height: 40vh;
  background-image: url(../img/product/bg_product_system.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-cover.quas {
  background-image: url(../img/product/img_product_quas.jpg);
}
.product-cover.pay {
  background-image: url(../img/product/img_product_pay.jpg);
}
.product-cover.clard {
  background-image: url(../img/product/img_product_clard.jpg);
}
.product-cover.solution-system {
  background-image: url(../img/solution/bg_system.png);
}
.product-cover.solution-hotel {
  background-image: url(../img/solution/img_cover_hotel.jpg);
}
.product-cover.solution-park {
  background-image: url(../img/solution/img_cover_park.jpg);
}
.product-cover.solution-mall {
  background-image: url(../img/solution/img_cover_mall.jpg);
}
.product-cover.solution-enterprise {
  background-image: url(../img/solution/img_cover_enterprise.jpg);
}
.product-header {
  margin-top: -16vh;

}
.product-header .title {
  color: white;
  font-size: 2.5em;
}
.product-content {
  margin-top: 2em;
  padding-bottom: 2em;
  background-color: white;
  text-align: center;
}

.product-title {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
  background-image: url(../img/product/line_green.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.product-title.blue {
  background-image: url(../img/product/line_blue.png);
}
.product-title.darkblue {
  background-image: url(../img/product/line_dark_blue.png);
}
.product-title.gold {
  background-image: url(../img/product/line_gold.png);
}
.product-title.yellow {
  background-image: url(../img/product/line_yellow.png);
}
.product-title.green {
  background-image: url(../img/product/line_green.png);
}
.product-title.red {
  background-image: url(../img/product/line_yellow.png);
}
.product-desc {
  line-height: 2em;
}
.product-feature {

}
.product-promise-title {
  font-size: 1.15em;
  font-weight: 400;
  margin-top: 2em;
}
.product-promise-content {
  line-height: 2em;
}
footer.footer {
  font-weight: 100;
  color: white;
  padding: 1em;
  background-color: @footer-background;
}
//产品体系
.product-system {
  margin-top: -2em;
}
.product .title1 {
  font-size: 1.25em;
  padding-top: 14vh;
  color: white;
  padding-bottom: 1em;
}
.product .title2 {
  color: white;
  font-size: 3em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.25em;
}
.product .thumbnail {
  margin-left: 1em;
  margin-right: 1em;
  padding: 2em ;
  border: none;
  border-radius: 0;
  box-shadow: 0px 10px 15px 0px rgba(141,141,141,0.07);
  min-height: 401px;
  .transition-all
}
.product .thumbnail:hover, .product .thumbnail:focus {
  box-shadow: 0px 10px 15px 0px rgba(141,141,141,0.3);
  .transition-all
}
.product .thumbnail .caption h3{
  color: @theme-text-color;
}
.product .thumbnail .caption p {
  margin-top: 3em;
  color: @theme-text-light-color;
}
.product .thumbnail.thumbnail-green {
  border-bottom: 2px solid @theme-primary;
}
.product .thumbnail.thumbnail-blue {
  border-bottom: 2px solid @theme-blue-color;
}
.product .thumbnail.thumbnail-darkblue {
  border-bottom: 2px solid @theme-darkblue-color;
}
.product .thumbnail.thumbnail-red {
  border-bottom: 2px solid @theme-red-color;
}
.product .thumbnail.thumbnail-yellow {
  border-bottom: 2px solid @theme-yellow-color;
}
.product .thumbnail.thumbnail-gold {
  border-bottom: 2px solid @theme-gold-color;
}
.product .thumbnail.thumbnail-green a {
  color: @theme-primary;
}
.product .thumbnail.thumbnail-blue a {
  color: @theme-blue-color;
}
.product .thumbnail.thumbnail-darkblue a {
  color: @theme-darkblue-color;
}
.product .thumbnail.thumbnail-red a {
  color: @theme-red-color;
}
.product .thumbnail.thumbnail-gold a {
  color: @theme-gold-color;
}
.product .thumbnail.thumbnail-yellow a {
  color: @theme-yellow-color;
}
//job
.job {
  background-color: @theme-background;
}
.center-pills {
  display: flex;
  justify-content: center;
}
.job .nav-pills>li.active>a, .job .nav-pills>li.active>a:focus, .job .nav-pills>li.active>a:hover {
  background-color: transparent;
  color: @theme-primary;
  .transition-all;
}
.job .nav-pills>li>a {
  color: @theme-text-color;
  .transition-all;
}
.job .nav-pills>li>a:focus, .job .nav-pills>li>a:hover {
  background-color: transparent;
  color: @theme-primary;
  .transition-all;
}
.job .tab-content {
  background-color: white;
  padding: 2em;
}
.job h4 {
  font-weight: bold;
  border-left: 4px solid @theme-primary;
  padding-left: 0.5em;
}
.job .content {
  padding: 2em;
}
.job .content p {
  color: @theme-blue-color;
}
.job .content ol {
  -moz-padding-start: 1em;
  -webkit-padding-start: 1em;
}
.job .content ol .indent-ol {
  -moz-padding-start: 4em;
  -webkit-padding-start: 4em;

}
.job .content ol>li {
  margin-bottom: 1em;
}
.job .job-footer p{
  color: @theme-text-color;
}
.job .job-footer a {
  color: @theme-primary;
  text-decoration: underline;
}
//解决方案首页
.solution-title {
  color: @theme-gold-color;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 2em;
  font-size: 1.25em;
  background-image: url(../img/solution/img_quote_left.png), url(../img/solution/img_quote_right.png);
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: 40px 30px, 40px 30px;
}
//解决方案详情页
.solution-item {
  padding: 0 6em 0 6em;
}
.hr-dot {
  border-bottom: none;
  background-image: linear-gradient(to right, white 33%, rgba(0,0,0,0.2) 0%);
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  height: 3px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.solution-item-title {
  font-size: 1.25em;
  font-weight: bold;
}
//关于我们
.aboutus {
  background-image: url(../img/aboutus/img_bg1.png), url(../img/aboutus/img_bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}
.aboutus-title1 {
  color: @theme-primary;
  margin: 2em;
}
.aboutus-title2 {
  color: @theme-text-color;
  font-size: 3em;
  font-weight: 500;
}
.aboutus-title3 {
  color: @theme-text-light-color;
  margin: 2em 4em 2em 4em;
  line-height: 2em;
}
.contactus {
  margin: 2em 1em 4em 0;
}
.address {
  background-color: @theme-background;
  padding: 2em 1em 2em 4em;
}
.left.carousel-control {
  background-image: url(../img/aboutus/img_left.png);
  background-repeat:no-repeat;
  background-size: 46px 46px;
  background-position: left center;
}
.right.carousel-control {
  background-image: url(../img/aboutus/img_right.png);
  background-repeat:no-repeat;
  background-size: 46px 46px;
  background-position: right center;
}
.carousel img {

}
@media only screen
and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px)
{

  .navbar-default .navbar-toggle {
    border: none;
    padding-right: 0;

  }
  .light.navbar-default .navbar-toggle .icon-bar {
    background-color: @navigation-light;
  }
  .dark.navbar-default .navbar-toggle .icon-bar {
    background-color: @navigation-dark;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-collapse {
    background-color: rgba(0,0,0,0.4);
  }
  .light.navbar.navbar-default {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 0em;
    padding-right: 0em;
  }
  .dark.navbar.navbar-default {
    background: @theme-background;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 0em;
    padding-right: 0em;
  }
  .navbar.navbar-default.past-header {
    border-bottom: none;
    background-color: @theme-primary;
    .transition-all;
  }
  .light.navbar.navbar-default a.navbar-brand {
    font-size: 1.05em;
    color: @navigation-light;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 3em;
    background-image: url(../img/home/img_tapon_logo_color.png);
    background-repeat: no-repeat;
    background-position: 1em 1em;
    background-size: 25px 25px;
  }
  .dark.navbar.navbar-default a.navbar-brand {
    font-size: 1.05em;
    color: @navigation-dark;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 3em;
    background-image: url(../img/home/img_tapon_logo_color.png);
    background-repeat: no-repeat;
    background-position: 1em 1em;
    background-size: 25px 25px;
  }
  img.title{
    width: 80%;
  }
  .section0 img.title {
    width: 214.5px;
    height: 144.5px;
    margin-top: 40vh;
  }
  .section1 img.title {
    width: 209.5px;
    height: 96px;
    margin-top: 15%;
  }
  .section2 img.title {
    width: 352px;
    height: 96px;
    margin-top: 15%;
  }
  .entry-panel a {
    color: white;
    font-size: 1em;
  }
  .entry-panel {
    position: absolute;
    background: rgba(0,0,0,0.4);
    bottom: 0;
    padding: 1em 0.5em 1em 0.5em;
    width: 100%;
  }
  .navbar-default {
    background: white;
    border-bottom: none;
  }
  .navbar-default .navbar-nav>li>a.selected {
    color: @navigation-light;
    box-shadow: none;
    background: none;
    .transition-all;
  }
  .product-system {
    margin-top: -2em;
  }
  .product .title1 {
    font-size: 1.25em;
    padding-top: 10vh;
    color: white;
    padding-bottom: 1em;
  }
  .product .title2 {
    color: white;
    font-size: 2em;
    border: none;
    padding: 0.25em;
  }
  .job .tab-content {
    background-color: white;
    padding: 1em;
  }
  .job .content {
    padding: 1em;
  }
  .job img {
    width: 263px;
    height: 49px;
  }
  .solution-item {
    padding: 0;
  }
}