body {
  font-family: 'Microsoft YaHei', Merriweather, 'Helvetica Neue', Arial, sans-serif;
  color: #5B4E4E;
  font-size: 16px;
}
.section {
  position: relative;
  text-align: center;
  overflow: hidden;
  font-weight: 100;
}
.section0 {
  background-image: url("../img/home/img_home_picture_1.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}
.section1 {
  background-image: url("../img/home/img_home_picture_2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}
.section2 {
  background-image: url("../img/home/img_home_picture_3.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}
.grey-surface {
  color: #CFD6DE;
  border: 2px solid #CFD6DE;
}
.white-surface {
  border: 2px solid white;
  color: white;
}
.light {
  color: white !important;
}
.dark {
  color: #5B4E4E !important;
}
.light.navbar.navbar-default {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
  margin-left: 4em;
  margin-right: 4em;
}
.dark.navbar.navbar-default {
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
  margin-left: 4em;
  margin-right: 4em;
}
.navbar-default .navbar-nav > li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.light.navbar-default .navbar-nav > li > a {
  font-size: 1em;
  font-weight: 200;
  color: white;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.dark.navbar-default .navbar-nav > li > a {
  font-size: 1em;
  font-weight: 200;
  color: #5B4E4E;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  font-weight: bold;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.navbar-default .navbar-nav > li > a.selected {
  font-weight: bold;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  background-image: url(../img/home/img_nav_select.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 4px 4px;
}
.light.navbar.navbar-default a.navbar-brand {
  color: white;
  padding-top: 2rem;
  padding-left: 2em;
  background-image: url(../img/home/img_tapon_logo_color.png);
  background-repeat: no-repeat;
  background-position: 0 1em;
  background-size: 26.4px 32.8px;
}
.dark.navbar.navbar-default a.navbar-brand {
  color: #5B4E4E;
  padding-top: 2rem;
  padding-left: 2em;
  background-image: url(../img/home/img_tapon_logo_color.png);
  background-repeat: no-repeat;
  background-position: 0 1em;
  background-size: 26.4px 32.8px;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}
.section0 img.title {
  width: 419px;
  height: 289px;
  margin-top: 25%;
}
.section1 img.title {
  width: 419px;
  height: 192px;
  margin-top: 6%;
  margin-right: 10%;
}
.section2 img.title {
  width: 704px;
  height: 192px;
  margin-top: 6%;
  margin-right: 5%;
}
.entry-panel {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  padding: 2em 1em 2em 1em;
  width: 100%;
}
.entry-panel a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
}
.entry-panel .row .col-md-2:nth-child(n+3) {
  border-left: 2px solid white;
}
.footer-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3C3F4A;
  padding: 1em;
}
.footer-panel p {
  color: white;
}
.product.container-fluid {
  padding-left: 0;
  padding-right: 0;
  background-color: #FAFAFA;
  padding-bottom: 4em;
}
.product-cover {
  height: 40vh;
  min-height: 40vh;
  background-image: url(../img/product/img_product_quas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-cover .quas {
  background-image: url(../img/product/img_product_quas.jpg);
}
.product-header {
  margin-top: -16vh;
}
.product-header .title {
  color: white;
  font-size: 2.5em;
}
.product-content {
  margin-top: 2em;
  padding-bottom: 2em;
  background-color: white;
  text-align: center;
}
.product-title {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.25em;
  font-weight: bold;
}
.product-desc {
  line-height: 2em;
}
.product-promise-title {
  font-size: 1.15em;
  font-weight: 400;
  margin-top: 2em;
}
.product-promise-content {
  line-height: 2em;
}
footer.footer {
  color: white;
  padding: 1em;
  background-color: #3C3F4A;
}
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .navbar-default .navbar-toggle {
    border: none;
    padding-right: 0;
  }
  .light.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .dark.navbar-default .navbar-toggle .icon-bar {
    background-color: #5B4E4E;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .light.navbar.navbar-default {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 0em;
    margin-right: 0em;
  }
  .dark.navbar.navbar-default {
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 0em;
    margin-right: 0em;
  }
  .light.navbar.navbar-default a.navbar-brand {
    font-size: 1.05em;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 3em;
    background-image: url(../img/home/img_tapon_logo_color.png);
    background-repeat: no-repeat;
    background-position: 1em 1em;
    background-size: 25px 25px;
  }
  .dark.navbar.navbar-default a.navbar-brand {
    font-size: 1.05em;
    color: #5B4E4E;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 3em;
    background-image: url(../img/home/img_tapon_logo_color.png);
    background-repeat: no-repeat;
    background-position: 1em 1em;
    background-size: 25px 25px;
  }
  img.title {
    width: 80%;
  }
  .section0 img.title {
    width: 214.5px;
    height: 144.5px;
    margin-top: 40vh;
  }
  .section1 img.title {
    width: 209.5px;
    height: 96px;
    margin-top: 15%;
  }
  .section2 img.title {
    width: 352px;
    height: 96px;
    margin-top: 15%;
  }
  .entry-panel a {
    color: white;
    font-size: 1em;
  }
  .entry-panel {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    padding: 1em 0.5em 1em 0.5em;
    width: 100%;
  }
  .navbar-default {
    background: white;
    border-bottom: none;
  }
  .navbar-default .navbar-nav > li > a.selected {
    color: white;
    box-shadow: none;
    background: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
}
