// Variables

@theme-primary: #00E19F;
@theme-primary-dark: #00a292;
@theme-text-color: #5B4E4E;
@navigation-light: white;
@navigation-dark: #5B4E4E;
@theme-background: #FAFAFA;
@theme-dark: #222;
@footer-background: #3C3F4A;